<h1>My friends</h1>

<%= render 'friends/lookup' %>

<% if @friendships.size > 0 %>

  <table class="table table-striped">
    <thead>
      <tr>
          <th align="center">No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <% @friendships.each_with_index do |friend, index| %>
          <tr>
            <td align="center"><%= index + 1 %></td>
            <td><%= friend.full_name %></td>
            <td><%= friend.email %></td>
            <td>
              <%= link_to "View Profile", user_path(friend), class: "btn btn-xs btn-primary" %>
              <%= link_to "remove friend", friendship_path(friend), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>

<% else %>
  <div class="row col-lg-12">
    <p class="lead">You don't have any friends yet. Please add some!</p>
  </div>
<% end %>